<div class="location-stop-card">
  <app-roadtrip-location-card-head
    [isOwner]="isOwner"
    [showingContent]="showingContent"
    [stop]="stop"
    [deleteEnabled]="deleteEnabled"
    (detailsClick)="onDetailsClick()"
    (deleteStopEvent)="onDeleteClick()"
  ></app-roadtrip-location-card-head>
  <div *ngIf="showingContent">
    <app-roadtrip-location-card-details
      *ngIf="showingContent"
      [isOwner]="isOwner"
      [stop]="stop"
      (edit)="showEditForm()"
    ></app-roadtrip-location-card-details>
    <app-roadtrip-location-card-edit-form
      *ngIf="showingEditForm && isOwner"
      (cancel)="hideEditForm()"
    ></app-roadtrip-location-card-edit-form>
  </div>
</div>
<app-confirmation-popup
  *ngIf="showingDeleteConfirmationPopup"
  [message]="'Are you sure you want to delete this stop?'"
  (cancelEvent)="onConfirmationCancel()"
  (confirmEvent)="onConfirmationConfirm()"
></app-confirmation-popup>
