<div class="location-stop-card">
  <app-roadtrip-location-card-head
    [isOwner]="isOwner"
    [showingContent]="showingContent"
    [stop]="stop"
    (detailsClick)="toggleContent()"
  ></app-roadtrip-location-card-head>
  <div *ngIf="showingContent">
    <app-roadtrip-location-card-details
      *ngIf="showingContent"
      [isOwner]="isOwner"
      [stop]="stop"
      (edit)="showEditForm()"
    ></app-roadtrip-location-card-details>
    <app-roadtrip-location-card-edit-form
      *ngIf="showingEditForm && isOwner"
      (cancel)="hideEditForm()"
    ></app-roadtrip-location-card-edit-form>
  </div>
</div>
