<div class="stop-card" [ngStyle]="getCardStyles()">
  <div class="stop-card-head" [ngStyle]="getHeadWrapperStyles()">
    <h5 class="stop-card-title" [ngStyle]="getTitleStyles()">
      {{ stop.location.title }}
    </h5>
    <div class="stop-card-head-tools">
      <app-expandable-toolbar2
        #headToolbar
        [expandDirection]="headToolbarExpandDirection"
        [isExpanded]="headToolbarInitialExpandedState"
        [gap]="'25px'"
        (expanded)="onHeadToolbarExpand()"
        (collapsed)="onHeadToolbarCollapse()"
      >
        <app-icon-button-v2
          #toggle
          [icon]="headToolbarToggleIcon"
          [iconSize]="toolButtonSize"
          [focusColor]="'#f0f763'"
          [enabledTooltip]="headToolbarToggleButtonTooltip"
        ></app-icon-button-v2>
        <app-icon-button-v2
          [icon]="detailsIcon"
          [iconSize]="toolButtonSize"
          [focusColor]="'#f0f763'"
          [enabledTooltip]="toggleDetailsButtonTooltip()"
          (clicked)="onToggleDetailsButtonClick()"
        ></app-icon-button-v2>
        <app-icon-button-v2
          [icon]="deleteIcon"
          [iconSize]="toolButtonSize"
          [focusColor]="'#e35656'"
          [enabledTooltip]="'Delete this stop'"
          (clicked)="onDeleteButtonClick()"
        ></app-icon-button-v2>
        <app-icon-button-v2
          [icon]="seeOnMapIcon"
          [iconSize]="toolButtonSize"
          [focusColor]="'#48b569'"
          [enabledTooltip]="'See on map'"
          (clicked)="onSeeOnMapButtonClick()"
        ></app-icon-button-v2>
      </app-expandable-toolbar2>
    </div>
  </div>
  <div
    class="stop-card-details"
    *ngIf="showingDetails"
    [ngStyle]="getDetailStyles()"
  >
    <div class="stop-card-details-top">
      <fa-icon [icon]="getTypeIcon()"></fa-icon>
      <h5 class="stop-card-details-main-title">
        {{ getDetailsMainTitle() }}
      </h5>
      <p class="stop-card-details-subtitle">
        {{ getDetailsSubtitle() }}
      </p>
    </div>
    <div class="stop-card-details-middle">
      <p class="stop-card-details-description" *ngIf="stop.description">
        {{ stop.description }}
      </p>
    </div>
    <div class="stop-card-details-bottom">
      <app-image-gallery>
        <app-image
          *ngFor="let photo of stop.location.photos"
          [filePath]="photo"
        ></app-image>
      </app-image-gallery>
    </div>
  </div>
</div>
