.stop-card-head {
  display: flex;
  align-items: center;
  gap: 20px;
}

.stop-card-head-tools {
  margin-left: auto;
  min-width: fit-content;
}

.stop-card-title {
  margin-bottom: 0;
}

.stop-card-title,
.stop-card-head-tools {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.stop-card-title::-webkit-scrollbar,
.stop-card-head-tools::-webkit-scrollbar {
  display: none;
}

.stop-card-details-top {
  display: flex;
  gap: 10px;
  align-items: center;
}

.stop-card-details-main-title {
  font-size: 15px;
}

.stop-card-details-subtitle {
  margin-left: auto;
  font-size: 15px;
}

.stop-card-details-main-title,
.stop-card-details-subtitle,
.stop-card-details-description {
  margin-bottom: 0;
}

.stop-card-details-description {
  margin-top: 50px;
  margin-bottom: 50px;
}
