<div *ngIf="dataLoaded" class="profile-page">
  <div class="row">
    <div class="head-content-wrapper col-12">
      <app-user-profile-image
        *ngIf="user.hasPhoto"
        class="profile-picture"
        [path]="user.photo"
        [tooltip]="user.username"
      ></app-user-profile-image>
      <h1 class="username">{{ user.username }}</h1>
      <p *ngIf="user.hasBio" class="bio">{{ user.bio }}</p>
      <app-image-gallery-v2
        class="profile-page-collage"
        [images]="photos"
      ></app-image-gallery-v2>
    </div>
  </div>
  <div class="user-created-roadtrips row">
    <app-roadtrip-summary-card
      #summaryCard
      *ngFor="let roadtrip of userRoadtrips"
      class="roadtrip-card col-12"
      [roadtrip]="roadtrip"
      (profileImageClick)="onRoadtripCardProfileImageClick($event)"
    >
      <app-expandable-toolbar2 tools class="roadtrip-summary-card-tools" [expandDirection]="toolsExpandDirection">
        <app-icon-button-v2 [icon]="infoIcon" (click)="onRoadtripSummaryCardInfoButtonClick(summaryCard)"></app-icon-button-v2>
      </app-expandable-toolbar2>
    </app-roadtrip-summary-card>
  </div>
</div>
