// themes
@import "~@angular/material/theming";

@import "./app/core2/themes/typography.scss";

@include mat-core($app-typography-config);

@import "./app/core2/themes/green.scss";
@import "./app/core2/themes/blue.scss";

// custom component theming
@import "./app/core/components/icon-button-v2/icon-button-v2-theme.component";
@import "./app/core/components/Roadtrips/roadtrip-card/roadtrip-card-theme.component";
@import "./app/core/pages/browse-roadtrips-page/browse-roadtrips-page-theme.component";
@import "./app/core/components/nav-url/nav-url.component-theme";
@import "./app/core2/components/stop-card/stop-card-theme.component";
@import "./app/core2/components/comments/comment-card/comment-card-theme.component";
@import "./app/core2/pages/individual-roadtrip-page/individual-roadtrip-page-theme.component";
@import "./app/core2/components/images/image-v2/image-theme.component";

@mixin custom-component-themes($theme) {
  @include icon-button-v2-theme($theme);
  @include roadtrip-card-theme($theme);
  @include browse-roadtrips-page-theme($theme);
  @include nav-url-theme($theme);
  @include stop-card-theme($theme);
  @include comment-card-theme($theme);
  @include roadtrip-page-theme($theme);
  @include image-theme($theme);
}

.green-light-theme {
  @include angular-material-theme($green-light-theme);
  @include custom-component-themes($green-light-theme);
}

.green-dark-theme {
  @include angular-material-theme($green-dark-theme);
  @include custom-component-themes($green-dark-theme);
}

.blue-light-theme {
  @include angular-material-theme($blue-light-theme);
  @include custom-component-themes($blue-light-theme);
}

.blue-dark-theme {
  @include angular-material-theme($blue-dark-theme);
  @include custom-component-themes($blue-dark-theme);
}

$light-bg-color: #fff;
$dark-bg-color: #101010;

.dark-mode {
  background-color: $dark-bg-color !important;
}

// styles

html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

html {
  /* https://stackoverflow.com/questions/1174863/javascript-scrollto-method-does-nothing */
  overflow: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

app-root {
  height: 100%;
  width: 100%;
}

.button:hover {
  cursor: pointer;
}

.disabled-button:hover {
  cursor: auto !important;
}

.toolbar {
  display: inline-flex;
  align-items: center;
}

.button {
  display: inline-block;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.editable-text {
  margin: auto;
}

app-image-gallery,
.inline-text,
app-login-form,
app-notification,
app-notification-manager {
  display: inline-block;
}

app-login-form {
  position: fixed;
  right: 25px;
  top: 8%;
}

app-editable-text {
  display: block;
}

// .image {
//   box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
// }

.comment {
  margin-bottom: 10px;
}

.no-mb {
  margin-bottom: 0 !important;
}

.form-input-error {
  border: 2px solid #f00;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#page-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-bar-wrapper {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 25px;
}
