<div class="new-roadtrip-form" [ngStyle]="wrapperStyles">
  <div class="tab-bar" [ngStyle]="toolbarStyles">
    <app-toolbar [gap]="0">
      <app-rectangle-button
        [text]="'Info'"
        [bgRegularColor]="getButtonBgColor('info')"
        [bgHoverColor]="getButtonBgHoverColor('info')"
        [borderRadius]="0"
        [padding]="'5px 20px'"
        (buttonClick)="changePage('info')"
      ></app-rectangle-button>
      <app-rectangle-button
        [text]="'Collaborators'"
        [bgRegularColor]="getButtonBgColor('collaborators')"
        [bgHoverColor]="getButtonBgHoverColor('collaborators')"
        [borderRadius]="0"
        [padding]="'5px 20px'"
        (buttonClick)="changePage('collaborators')"
      ></app-rectangle-button>
      <app-rectangle-button
        [text]="'Settings'"
        [bgRegularColor]="getButtonBgColor('settings')"
        [bgHoverColor]="getButtonBgHoverColor('settings')"
        [borderRadius]="0"
        [padding]="'5px 20px'"
        (buttonClick)="changePage('settings')"
      ></app-rectangle-button>
    </app-toolbar>
  </div>
  <div class="new-roadtrip-form-body">
    <form [formGroup]="data">
      <div class="new-roadtrip-data-inputs">
        <!-- info page -->
        <div *ngIf="page == 'info'" class="new-roadtrip-info-page">
          <div class="title-wrapper field">
            <h4>Title</h4>
            <app-text-input
              [name]="'roadtrip-title'"
              [control]="data.get('title')"
            ></app-text-input>
            <p
              class="error-message"
              *ngIf="
                data.get('title')?.dirty && data.get('title')?.errors?.required
              "
            >
              Required
            </p>
            <p
              class="error-message"
              *ngIf="
                data.get('title')?.dirty && data.get('title')?.errors?.minlength
              "
            >
              <!-- Needs to be at least {{data.get('title')?errors?.minlength}} -->
            </p>
          </div>
          <div class="title-wrapper field">
            <h4>Description</h4>
            <app-text-input
              [name]="'roadtrip-title'"
              [control]="data.get('description')"
            ></app-text-input>
          </div>
        </div>

        <!-- collaborators page -->
        <div *ngIf="page == 'collaborators'" class="new-roadtrip-info-page">
          Collaborators page
        </div>

        <!-- settings page -->
        <div *ngIf="page == 'settings'" class="new-roadtrip-info-page">
          <input
            type="checkbox"
            name="allowComments"
            formControlName="allowComments"
          />
          <label for="allowComments"
            ><h4 class="checkbox-label">Allow comments</h4></label
          >
        </div>
      </div>

      <!-- options -->
      <div class="new-roadtrip-form-options-wrapper">
        <app-toolbar class="new-roadtrip-form-options" [gap]="25">
          <app-rectangle-button
            [text]="'Cancel'"
            [bgRegularColor]="cancelBtnBgColor"
            [bgHoverColor]="cancelBtnBgHoverColor"
            [fontSize]="btnFontSize"
            [fontFamily]="btnFont"
            [padding]="btnPadding"
            (buttonClick)="cancel()"
          ></app-rectangle-button>
          <app-rectangle-button
            *ngIf="data.valid"
            [text]="'Submit'"
            [bgRegularColor]="submitBtnBgColor"
            [bgHoverColor]="submitBtnBgHoverColor"
            [fontSize]="btnFontSize"
            [fontFamily]="btnFont"
            [padding]="btnPadding"
            (buttonClick)="submit()"
          ></app-rectangle-button>
        </app-toolbar>
      </div>
    </form>
  </div>
</div>
