<div class="image-selector-form row" [formGroup]="form">
  <input
    #selectFilesButton
    type="file"
    style="display: none"
    formControlName="selectedImages"
    multiple
    (change)="onFileChanges($event)"
  />
  <button
    mat-raised-button
    class="select-images-button col-sm-12 col-md-3"
    (click)="selectFilesButton.click()"
    color="accent"
  >
    Select Images
  </button>
  <app-image-gallery-v2
    class="image-selector-preview-gallery col-12"
    [images]="images"
  ></app-image-gallery-v2>
  <button
    *ngIf="hasImages"
    mat-raised-button
    class="clear-images-button col-12"
    (click)="clearImages()"
    color="warn"
  >
    Clear Images
  </button>
</div>
