.roadtrip-location-card-head {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 100%;
  padding: 10px 20px;
  white-space: nowrap;
  align-items: center;
}

.address {
  margin-bottom: 0;
}

.options {
  margin-left: auto;
}
