<div class="roadtrip-location-card-details" [ngStyle]="getWrapperStyles()">
  <div class="details-top">
    <fa-icon [icon]="typeIcon" [ngStyle]="getTypeIconStyles()"></fa-icon>
    <h5 class="location-address">{{ getTitle() }}</h5>
    <app-toolbar [gap]="25" class="main-options">
      <app-icon-button
        [icon]="addImagesIcon"
        (buttonClick)="addImages()"
      ></app-icon-button>
      <app-icon-button [icon]="addToTripIcon"></app-icon-button>
      <app-icon-button [icon]="addToVisitIcon"></app-icon-button>
      <app-icon-button
        *ngIf="isOwner"
        [icon]="editBtn"
        (buttonClick)="editStop()"
      ></app-icon-button>
    </app-toolbar>
  </div>
  <p
    class="stop-coordinates"
    [ngStyle]="getCoordinateStyles()"
    *ngIf="stop.location.address != null"
  >
    {{ stop.location.coordinates.genFormattedString() }}
  </p>
  <p>{{ stop.description }}</p>
  <app-image-gallery class="location-stop-image-gallery">
    <app-image
      [filePath]="'assets/images/pexels-andrea-piacquadio-722014.jpg'"
    ></app-image>
    <app-image
      [filePath]="'assets/images/pexels-andrea-piacquadio-722014.jpg'"
    ></app-image>
  </app-image-gallery>
  <app-images-form
    *ngIf="showingAddImagesForm"
    (cancel)="hideImageForm()"
  ></app-images-form>
</div>
