<div class="comment-wrapper" [ngStyle]="getWrapperStyles()">
  <div class="comment" [ngStyle]="getCommentStyles()">
    <app-comment-head
      *ngIf="showingHead"
      [comment]="comment"
      [roadtrip]="roadtrip"
      (detailsClick)="toggleBody()"
      (replyClick)="reply()"
    ></app-comment-head>
    <app-comment-body
      *ngIf="showingBody"
      [comment]="comment"
    ></app-comment-body>
  </div>
  <!-- replies -->
  <app-comment
    *ngFor="let reply of sortReplies()"
    [comment]="reply"
    [roadtrip]="roadtrip"
    [width]="replyWidth"
  ></app-comment>
  <!-- reply template -->
  <app-reply
    *ngIf="replying"
    class="reply-template"
    [parentComment]="comment"
    [roadtrip]="roadtrip"
    (close)="closeReply()"
    (typing)="highlightComment()"
    (stoppedTyping)="removeCommentHighlight()"
  ></app-reply>
</div>
