<div class="comment-wrapper" [ngStyle]="getWrapperStyles()">
  <div class="comment" [ngStyle]="getCommentStyles()">
    <app-comment-head
      *ngIf="showingHead"
      [comment]="comment"
      (detailsClick)="toggleBody()"
      (replyClick)="reply()"
    ></app-comment-head>
    <app-comment-body
      *ngIf="showingBody"
      [comment]="comment"
    ></app-comment-body>
  </div>
  <!-- replies -->
  <ng-content></ng-content>
  <!-- reply template -->
  <app-reply
    *ngIf="replying"
    class="reply-template"
    (close)="closeReply()"
    (typing)="highlightComment()"
    (stoppedTyping)="removeCommentHighlight()"
  ></app-reply>
</div>
