<!-- <app-image-gallery>
  <app-image
    [filePath]="'assets/images/pexels-guilherme-rossi-1755680.jpg'"
  ></app-image>
  <app-image
    [filePath]="'assets/images/pexels-guilherme-rossi-1755680.jpg'"
  ></app-image>
  <app-image
    [filePath]="'assets/images/pexels-guilherme-rossi-1755680.jpg'"
  ></app-image>
</app-image-gallery>

<app-image-selector-form></app-image-selector-form> -->

<!-- <app-image-gallery-v2 [images]="images"></app-image-gallery-v2> -->

<app-image-selector-form></app-image-selector-form>
