<form id="login-form" [formGroup]="form" [ngStyle]="wrapperStyles">
  <div class="field">
    <h4 [ngStyle]="fieldTitleStyles">Username</h4>
    <app-text-input
      [name]="'username'"
      [control]="form.controls['username']"
    ></app-text-input>
  </div>
  <div class="field">
    <h4 [ngStyle]="fieldTitleStyles">Password</h4>
    <app-text-input
      [inputType]="'password'"
      [name]="'password'"
      [control]="form.controls['password']"
    ></app-text-input>
  </div>
  <p
    id="login-error-message"
    *ngFor="let errorMessage of errorMessages"
    [ngStyle]="errorMsgStyles"
  >
    {{ errorMessage }}
  </p>
  <div id="options-wrapper">
    <app-icon-button
      id="cancel-button"
      [icon]="cancelIcon"
      [iconRegularColor]="cancelBtnColor"
      [iconHoverColor]="cancelBtnHoverColor"
      (buttonClick)="onCloseBtnClick()"
    ></app-icon-button>
    <app-icon-button
      id="sign-in-button"
      [icon]="signInIcon"
      [iconRegularColor]="signInBtnColor"
      [iconHoverColor]="signInBtnHoverColor"
      (buttonClick)="onSignInBtnClick()"
    ></app-icon-button>
  </div>
</form>
