.roadtrip-map-wrapper {
  margin-bottom: 50px;
}

.roadtrip-owner-info {
  display: flex;
  align-items: center;
}

#roadtrip-owner {
  text-decoration: none;
  font-size: 15px;
  margin-left: 25px;
}

#roadtrip-owner:hover {
  text-decoration: underline;
}

.roadtrip-description {
  margin-top: 20px;
}

#stops {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 50px 0;
}

.comment-section-title {
  margin-right: 25px;
}

.collaborators {
  margin-top: 50px;
}

.collaborator-profile-images {
  display: flex;
  gap: 25px;
}

.collaborator {
  cursor: pointer;
}
