<div class="roadtrip-page" *ngIf="dataLoaded">
  <app-nav-url [pieces]="navPieces"></app-nav-url>
  <div class="roadtrip-map-wrapper">
    <app-interactive-map
      #RoadtripMap
      [roadtrip]="roadtrip"
      class="roadtrip-map"
      (markerSelected)="onMarkerSelect($event)"
      (detailsToolBtnClick)="onDetailsToolBtnClick($event)"
    ></app-interactive-map>
  </div>

  <h1 *ngIf="!isOwner()" [ngStyle]="getTitleStyles()">{{ roadtrip.title }}</h1>

  <app-editable-text
    *ngIf="isOwner()"
    [text]="roadtrip.title"
    [textColor]="titleColor"
    [isEditing]="false"
    [width]="'100%'"
    [fontSize]="titleFontSize"
  ></app-editable-text>

  <div class="roadtrip-owner-info">
    <app-user-profile-image
      class="owner-profile-image collaborator"
      [routerLink]="['/users', roadtrip.owner.id]"
      [path]="roadtrip.owner.photo"
      [size]="'35px'"
      [iconSize]="'20px'"
      title="{{ roadtrip.owner.username }}"
    ></app-user-profile-image>
    <a
      [routerLink]="['/users', roadtrip.owner.id]"
      id="roadtrip-owner"
      [ngStyle]="getOwnerLinkStyles()"
      >Made by {{ roadtrip.owner.username }}</a
    >
  </div>

  <h5
    *ngIf="!isOwner()"
    class="roadtrip-description"
    [ngStyle]="getDescriptionStyles()"
  >
    {{ roadtrip.description }}
  </h5>

  <app-editable-text
    class="roadtrip-description"
    *ngIf="isOwner()"
    [text]="roadtrip.description"
    [textColor]="descriptionColor"
    [isEditing]="false"
    [width]="'100%'"
    [fontSize]="descriptionFontSize"
  ></app-editable-text>

  <!-- collaborators -->
  <div class="collaborators">
    <h4 [ngStyle]="getSectionTitleStyles()">Collaborators</h4>
    <div class="collaborator-profile-images">
      <app-user-profile-image
        *ngFor="let collaborator of roadtrip.collaborators"
        class="collaborator"
        [routerLink]="['/users', collaborator.id]"
        [path]="collaborator.photo"
        [size]="'35px'"
        [iconSize]="'20px'"
        title="{{ collaborator.username }}"
      ></app-user-profile-image>
    </div>
  </div>

  <div id="stops">
    <h4 class="inline-text" [ngStyle]="getSectionTitleStyles()">Stops</h4>
    <app-roadtrip-location-card
      *ngFor="let stop of roadtrip.stops"
      [stop]="stop"
      [isOwner]="isOwner()"
      (deleteStopEvent)="deleteStop($event)"
    ></app-roadtrip-location-card>
  </div>

  <div id="comments">
    <h4
      class="inline-text comment-section-title"
      [ngStyle]="getSectionTitleStyles()"
    >
      Comments
    </h4>
    <app-icon-button
      [icon]="commentSectionIcon"
      (buttonClick)="onRootCommentBtnClick()"
    ></app-icon-button>
    <app-comment
      *ngFor="let comment of getRoadtripRootComments()"
      [comment]="comment"
      [roadtrip]="roadtrip"
    >
    </app-comment>
    <!-- root reply -->
    <app-reply
      *ngIf="addingRootReply"
      class="reply-template"
      [parentComment]="null"
      [width]="'100%'"
      [roadtrip]="roadtrip"
      (close)="closeRootReply()"
    ></app-reply>
  </div>
</div>
<mat-spinner id="page-spinner" *ngIf="!dataLoaded"></mat-spinner>
