.map-radius-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-bottom: 25px;
}

.display-inline-block {
  display: inline-block;
}

.latitude-input:focus,
.longitude-input:focus,
.center-input:focus {
  outline: none;
}

.pin-icon {
  margin-right: 25px;
}

.range-icon,
.update-button {
  margin-left: auto;
}

.center-field,
.radius-field,
.options {
  display: flex;
  align-items: center;
}

.miles-text {
  align-self: flex-end;
}
