.i-map {
  /* provides a gap between the map ui and toolbar */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.i-map-notification-manager {
  width: 100%;
}

.toolbar-button {
  font-size: 20px;
}