<div class="i-map">
  <app-i-map-ui
    #ui
    (mapClick)="onMapClick($event)"
    (markerClick)="onMarkerClick($event)"
    (markerSelect)="onMarkerSelect($event)"
  ></app-i-map-ui>
  <app-toolbar class="i-map-toolbar" [gap]="25">
    <app-icon-button-v2
      #addButton
      [icon]="addMarkerIcon"
      [iconSize]="toolButtonSize"
      [focusColor]="'#5fc97a'"
      [enabledTooltip]="'Add marker'"
      (clicked)="onAddMarkerButtonClick()"
    ></app-icon-button-v2>
    <app-icon-button-v2
      #deleteButton
      [icon]="deleteMarkerIcon"
      [iconSize]="toolButtonSize"
      [focusColor]="'#cc608d'"
      [enabledTooltip]="'Remove marker'"
      (clicked)="onDeleteMarkerButtonClick()"
    ></app-icon-button-v2>
    <app-icon-button-v2
      #zoomMarkerButton
      [icon]="zoomMarkerIcon"
      [iconSize]="toolButtonSize"
      [focusColor]="'#42a1f5'"
      [enabledTooltip]="'Zoom in on marker'"
      (clicked)="onZoomInOnMarkerButtonClick()"
    ></app-icon-button-v2>
    <app-icon-button-v2
      #expandMapButton
      [icon]="expandMapIcon"
      [iconSize]="toolButtonSize"
      [focusColor]="'#f0f763'"
      [enabledTooltip]="'Zoom out'"
      (clicked)="onZoomOutBtnClick()"
    ></app-icon-button-v2>
    <app-icon-button-v2
      #unselectAllButton
      [icon]="unselectAllIcon"
      [iconSize]="toolButtonSize"
      [focusColor]="'#f0f763'"
      [enabledTooltip]="'Unselect all markers'"
      (clicked)="onUnselectAllBtnClick()"
    ></app-icon-button-v2>
    <app-icon-button-v2
      #selectAllButton
      [icon]="selectAllIcon"
      [iconSize]="toolButtonSize"
      [focusColor]="'#f0f763'"
      [enabledTooltip]="'Select all markers'"
      (clicked)="onSelectAllBtnClick()"
    ></app-icon-button-v2>
  </app-toolbar>
</div>
<app-notification-manager
  class="i-map-notification-manager"
  #noteManager
  [exclusive]="true"
></app-notification-manager>
