<div class="i-map">
  <app-i-map-ui
    #ui
    (mapClick)="onMapClick($event)"
    (markerClick)="onMarkerClick($event)"
  ></app-i-map-ui>
  <app-toolbar class="i-map-toolbar" [gap]="25">
    <app-icon-button-v2
      #addButton
      [icon]="addMarkerIcon"
      [iconSize]="toolButtonSize"
      [focusColor]="'#5fc97a'"
      (clicked)="onAddMarkerButtonClick()"
    ></app-icon-button-v2>
    <app-icon-button-v2
      #deleteButton
      [icon]="deleteMarkerIcon"
      [iconSize]="toolButtonSize"
      [focusColor]="'#cc608d'"
      (clicked)="onDeleteMarkerButtonClick()"
    ></app-icon-button-v2>
    <app-icon-button-v2
      #zoomMarkerButton
      [icon]="zoomMarkerIcon"
      [iconSize]="toolButtonSize"
      [focusColor]="'#42a1f5'"
      (clicked)="onZoomInOnMarkerButtonClick()"
    ></app-icon-button-v2>
  </app-toolbar>
</div>
<app-notification-manager #noteManager></app-notification-manager>
