@import "../styles.scss";

#top,
#body {
  width: 100%;
}

#top {
  height: 7%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.top-dark-mode {
  background-color: $dark-bg-color;
  opacity: 0.95;
}

.top-light-mode {
  background-color: $light-bg-color;
  opacity: 0.95;
}

#body {
  height: 93%;
}

#body-content {
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}

#website-title {
  font-family: "Caveat Brush", "Times New Romans";
  margin-left: 2%;
  font-size: 30px;
  padding-right: 25px;
  cursor: pointer;
}

#main-navbar {
  margin-left: auto;
  margin-right: 2%;
}

#to-top-button {
  position: fixed;
  bottom: 10px;
  right: 20px;
  font-size: 40px;
}

#theme-mode-toggle-wrapper {
  position: fixed;
  bottom: 25px;
  left: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#theme-mode-toggle-icon {
  font-size: 20px;
}
