<div id="top">
  <h4 id="website-title" [routerLink]="['']">Road Trips IO</h4>
  <app-main-navigation-bar
    (openLogin)="openLoginForm()"
    id="main-navbar"
  ></app-main-navigation-bar>
</div>
<div id="body">
  <div id="body-content">
    <router-outlet></router-outlet>
  </div>
</div>
<app-login-form
  *ngIf="showingLoginForm"
  (close)="closeLoginForm()"
></app-login-form>
<app-icon-button-v2
  id="to-top-button"
  [icon]="toTopBtnIcon"
  [iconSize]="'40px'"
  (clicked)="scrollToTop()"
></app-icon-button-v2>
<span id="theme-mode-toggle-wrapper">
  <fa-icon id="theme-mode-toggle-icon" [icon]="modeIcon()"></fa-icon>
  <mat-slide-toggle
    id="theme-mode-toggle-button"
    color="primary"
    [checked]="isDarkMode()"
    (change)="onThemeModeToggle($event)"
  ></mat-slide-toggle>
</span>
