<div class="select-users-form row">
  <mat-form-field appearance="fill" color="accent" class="user-search-bar-wrapper col-12">
    <mat-label>Username</mat-label>
    <input matInput class="user-search-bar" [(ngModel)]="usernameField">
  </mat-form-field>

  <!-- matching users -->
  <app-user-select-list #selectUsersList [users]="matchingUsers" (userSelected)="onUserSelected($event)" (userUnselected)="onUserUnselected($event)"></app-user-select-list>

  <!-- selected users -->
  <div class="selected-users">
    <div *ngFor="let user of selectUsersList.selectedUsers" class="selected-user">
      <app-user-profile-image
        [path]="user.photo"
        [size]="'35px'"
        [iconSize]="'20px'"
      ></app-user-profile-image>
      <p class="selected-user-username">
        {{ user.username }}
      </p>
      <app-icon-button
        class="selected-user-delete-button"
        [icon]="deleteSelectedUserIcon"
        [iconSize]="deleteBtnSize"
        [iconRegularColor]="deleteBtnColor"
        [iconHoverColor]="deleteBtnHoverColor"
        (buttonClick)="onDeleteBtnClick(user)"
      ></app-icon-button>
    </div>
  </div>
</div>
