@import "../../../../node_modules/@angular/material/theming";

$primary: mat-palette($mat-blue);
$accent: mat-palette($mat-light-blue, A200, A100, A400);
$warn: mat-palette($mat-red);

$blue-light-theme: mat-light-theme($primary, $accent, $warn);
$blue-dark-theme: mat-dark-theme($primary, $accent, $warn);
