<div class="roadtrip-location-card-head" [ngStyle]="getWrapperStyles()">
  <h4 class="address" [ngStyle]="getAddressStyles()">{{ stop.title }}</h4>
  <app-toolbar class="options" [gap]="25">
    <app-icon-button
      [icon]="detailsBtn"
      [iconRegularColor]="'rgba(116, 162, 193, 1)'"
      [iconHoverColor]="'rgba(116, 162, 193, .75)'"
      [enabledMessage]="'See details'"
      (buttonClick)="onDetailsClick()"
    ></app-icon-button>
    <app-icon-button
      *ngIf="isOwner"
      [icon]="deleteBtn"
      [iconRegularColor]="'rgba(252, 119, 119, 1)'"
      [iconHoverColor]="'rgba(252, 119, 119, .75)'"
      [disabled]="!deleteEnabled"
      [disabledMessage]="'Cannot do this right now'"
      [enabledMessage]="'Delete this stop'"
      (buttonClick)="onDeleteClick()"
    ></app-icon-button>
  </app-toolbar>
</div>
