<div *ngIf="dataLoaded" [ngStyle]="getWrapperStyles()">
  <app-nav-url [pieces]="navPieces"></app-nav-url>
  <!-- Centered Forms -->
  <app-new-roadtrip-form
    *ngIf="addingNewRoadtrip"
    (cancelEvent)="onNewRoadtripCancel()"
    (submitEvent)="onNewRoadtripSubmit($event)"
  ></app-new-roadtrip-form>

  <div id="user-image-wrapper">
    <app-user-profile-image
      [path]="user.photo"
      id="user-profile-image"
    ></app-user-profile-image>
  </div>
  <p [ngStyle]="usernameStyles">{{ user.username }}</p>

  <!-- Created roadtrips -->
  <div class="section">
    <div class="section-top">
      <h1
        class="inline-text no-mb section-title"
        [ngStyle]="sectionTitleStyles"
      >
        Created Roadtrips
      </h1>
      <app-icon-button
        *ngIf="isOwner()"
        [icon]="addBtnIcon"
        [iconSize]="'30px'"
        [ngStyle]="sectionTopIconStyles"
        (buttonClick)="onAddRoadtripBtnClick()"
      ></app-icon-button>
    </div>

    <app-roadtrip-card
      *ngFor="let roadtrip of createdRoadtrips"
      [roadtrip]="roadtrip"
      [isOwner]="isOwner()"
    ></app-roadtrip-card>
  </div>

  <!-- Collaboration roadtrips -->
  <div class="section">
    <div class="section-top">
      <h1
        class="inline-text no-mb section-title"
        [ngStyle]="sectionTitleStyles"
      >
        Roadtrips I'm collaborating on
      </h1>
      <div class="section-list">
        <app-icon-button
          *ngIf="isOwner()"
          [icon]="addBtnIcon"
          [iconSize]="'30px'"
          [ngStyle]="sectionTopIconStyles"
        ></app-icon-button>
      </div>
    </div>

    <div class="section-list">
      <app-roadtrip-card
        *ngFor="let roadtrip of collabRoadtrips"
        [roadtrip]="roadtrip"
        [isOwner]="false"
      ></app-roadtrip-card>
    </div>
  </div>

  <!-- Places Visited -->
  <div class="section">
    <div class="section-top">
      <h1
        class="inline-text no-mb section-title"
        [ngStyle]="sectionTitleStyles"
      >
        Places I've been
      </h1>
      <app-icon-button
        *ngIf="isOwner()"
        [icon]="addBtnIcon"
        [iconSize]="'30px'"
        [ngStyle]="sectionTopIconStyles"
      ></app-icon-button>
    </div>
    <div class="section-list">
      <app-location-card
        *ngFor="let location of getPlacesVisited()"
        [location]="location"
        [isOwner]="isOwner()"
      ></app-location-card>
    </div>
  </div>

  <!-- Places To Visit -->
  <div class="section">
    <div class="section-top">
      <h1
        class="inline-text no-mb section-title"
        [ngStyle]="sectionTitleStyles"
      >
        Where I want to go
      </h1>
      <app-icon-button
        *ngIf="isOwner()"
        [icon]="addBtnIcon"
        [iconSize]="'30px'"
        [ngStyle]="sectionTopIconStyles"
      ></app-icon-button>
    </div>
    <div class="section-list">
      <app-location-card
        *ngFor="let location of locationsToVisit"
        [location]="location"
        [isOwner]="isOwner()"
      ></app-location-card>
    </div>
  </div>

  <!-- Personal Info -->
  <div class="section" *ngIf="isOwner()">
    <div class="section-top">
      <h1
        class="inline-text no-mb section-title"
        [ngStyle]="sectionTitleStyles"
      >
        Personal Information
      </h1>
      <fa-icon
        [icon]="personalInfoIcon"
        class="section-top-icon"
        [ngStyle]="sectionTopIconStyles"
      ></fa-icon>
    </div>
    <app-personal-info-card
      [user]="user"
      *ngIf="isOwner()"
    ></app-personal-info-card>
  </div>

  <!-- Picture Gallery -->
  <div class="section">
    <div class="section-top">
      <h1
        class="inline-text no-mb section-title"
        [ngStyle]="sectionTitleStyles"
      >
        Pictures
      </h1>
      <fa-icon
        [icon]="cameraIcon"
        class="section-top-icon"
        [ngStyle]="sectionTopIconStyles"
      ></fa-icon>
    </div>
    <app-image-gallery>
      <app-image *ngFor="let path of getPhotos()" [filePath]="path"></app-image>
    </app-image-gallery>
  </div>
</div>
<mat-spinner id="page-spinner" *ngIf="!dataLoaded"></mat-spinner>
<lib-progress-bar
  id="loading-bar"
  [progress]="percentDataLoaded"
  [barColor]="'#03fc4e'"
  [width]="'80%'"
></lib-progress-bar>
