#page-notification-manager {
  width: 30%;
  position: absolute;
  bottom: 10px;
  left: 25px;
  z-index: 10;
}

.roadtrip-stops {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.roadtrip-comments-section {
  margin-top: 50px;
}

.section-title {
  margin-bottom: 10px;
}
