<div id="top">
  <h4 id="website-title">Road Trips IO</h4>

  <app-circular-icon-button
    [icon]="navToggleIcon"
    [regularBackgroundColor]="'#00f'"
  ></app-circular-icon-button>

  <app-circular-icon-button
    [icon]="navToggleIcon"
    [backgroundHighlightColor]="'rgba(0, 0, 255, 0.5)'"
  ></app-circular-icon-button>

  <app-circular-icon-button
    [icon]="navToggleIcon"
    [padding]="20"
  ></app-circular-icon-button>

  <app-circular-icon-button
    [icon]="navToggleIcon"
    [regularBorderColor]="'#00f'"
  ></app-circular-icon-button>

  <app-circular-icon-button
    [icon]="navToggleIcon"
    [borderHighlightColor]="'rgba(0, 0, 255, 0.5)'"
  ></app-circular-icon-button>

  <app-circular-icon-button
    [icon]="navToggleIcon"
    [borderWidth]="5"
  ></app-circular-icon-button>

  <app-circular-icon-button
    [icon]="navToggleIcon"
    [regularBorderColor]="'#00f'"
    [size]="'30px'"
  ></app-circular-icon-button>

  <app-square-icon-button
    [icon]="navToggleIcon"
    [regularBackgroundColor]="'rgba(255, 0, 0, .25)'"
    [backgroundHighlightColor]="'rgba(255, 0, 0, .5)'"
    [highlightColor]="null"
    [borderHighlightColor]="null"
    [regularBorderColor]="null"
  ></app-square-icon-button>
</div>
<div id="body">
  <div id="body-content"></div>
</div>
