<div class="comment-body" [ngStyle]="getWrapperStyles()">
  <fa-icon [icon]="dateIcon" [ngStyle]="getIconStyles()"></fa-icon>
  <h5 class="inline-text date-posted" [ngStyle]="getTextStyles()">
    {{ getDatePosted() }}
  </h5>
  <fa-icon [icon]="timeIcon" [ngStyle]="getIconStyles()"></fa-icon>
  <h5 class="inline-text time-posted" [ngStyle]="getTextStyles()">
    {{ getTimePosted() }}
  </h5>
  <h5 class="inline-text comment-username" [ngStyle]="getTextStyles()">
    {{ getUsername() }}
  </h5>
</div>
