<app-expandable-toolbar2
  [expandDirection]="toolbarExpandDirection"
  [isExpanded]="false"
  [gap]="'35px'"
>
  <app-icon-button-v2
    #toggle
    [icon]="toggleIcon"
    [iconSize]="toolSize"
    [focusColor]="'#f0f763'"
  ></app-icon-button-v2>
  <app-icon-button-v2
    *ngIf="!isUserSignedIn()"
    [icon]="signInIcon"
    [iconSize]="toolSize"
    [focusColor]="'#f0f763'"
    (clicked)="onSignInBtnClick()"
  ></app-icon-button-v2>
  <app-icon-button-v2
    *ngIf="isUserSignedIn()"
    [icon]="signOutIcon"
    [iconSize]="toolSize"
    [focusColor]="'#f0f763'"
    (clicked)="onSignOutBtnClick()"
  ></app-icon-button-v2>
  <app-icon-button-v2
    [icon]="userIcon"
    [iconSize]="toolSize"
    [focusColor]="'#f0f763'"
    (clicked)="routeToUserPage()"
  ></app-icon-button-v2>
  <app-icon-button-v2
    [icon]="routeIcon"
    [iconSize]="toolSize"
    [focusColor]="'#f0f763'"
    (clicked)="routeToBrowseRoadtripsPage()"
  ></app-icon-button-v2>
  <app-icon-button-v2
    [icon]="testIcon"
    [iconSize]="toolSize"
    [focusColor]="'#f0f763'"
    (clicked)="routeToExperimentPage()"
  ></app-icon-button-v2>
</app-expandable-toolbar2>
