.comment-thread {
  display: flex;
  flex-direction: column;
  gap: auto; // this was just in the browser somehow and worked out so I added it manually
}

.thread-options {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.thread-reply-button {
  cursor: pointer;
  margin-left: auto;
  font-size: 20px;
}

.thread-toggle-replies-button {
  cursor: pointer;
}

.comment-thread-replies {
  display: flex;
  flex-direction: column;
}
