<div class="comment-thread" [ngStyle]="threadStyles">
  <div
    class="root-comment-wrapper"
    (mouseenter)="onRootCommentMouseEnter()"
    (mouseleave)="onRootCommentMouseExit()"
  >
    <app-comment-card
      [comment]="rootComment"
      (profileImageClicked)="onProfileImageClick(rootComment)"
    ></app-comment-card>
    <div *ngIf="showingThreadOptions" class="thread-options">
      <p
        *ngIf="hasReplies"
        class="thread-toggle-replies-button no-mb"
        (click)="onToggleRepliesBtnClick()"
      >
        {{ toggleRepliesBtnText }}
      </p>
      <app-icon-button-v2
        class="thread-reply-button"
        [icon]="replyIcon"
        [iconSize]="'20px'"
        (click)="onReplyBtnClick()"
      ></app-icon-button-v2>
    </div>
  </div>
  <app-reply-field
    *ngIf="showingReplyField"
    #replyField
    [ngStyle]="replyStyles"
    (cancel)="onReplyCancel()"
    (send)="onReplySend($event)"
  ></app-reply-field>
  <div
    *ngIf="showingReplies"
    class="comment-thread-replies"
    [ngStyle]="replyStyles"
  >
    <!-- replies -->
    <app-thread-group [rootComments]="rootComment.replies"></app-thread-group>
  </div>
</div>
