<div class="comment-thread" [ngStyle]="threadStyles()">
  <app-comment-card
    [comment]="rootComment"
    (profileImageClicked)="onProfileImageClick(rootComment)"
  ></app-comment-card>
  <!-- replies -->
  <div class="comment-thread-replies" [ngStyle]="replyStyles()">
    <app-comment-thread
      *ngFor="let reply of rootComment.replies"
      [rootComment]="reply"
      [gap]="gap"
      [offset]="offset"
      (profileImageClicked)="onProfileImageClick(reply)"
    ></app-comment-thread>
  </div>
</div>
