.comment-thread {
  display: flex;
  flex-direction: column;
}

.thread-options {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.thread-reply-button {
  cursor: pointer;
  margin-left: auto;
}

.thread-toggle-replies-button {
  cursor: pointer;
}

.comment-thread-replies {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
