<div class="roadtrip-summary-card">
  <div class="head-content row" [ngStyle]="headStyles">
    <h1 class="title col-sm-12 col-md">
      {{ roadtrip.title }}
    </h1>
    <ng-content
      class="options col-sm-12 col-md"
      select="[tools]"
    ></ng-content>
  </div>
  <div *ngIf="showingDetails" class="details row">
    <div class="row">
      <h3 class="description col-12">{{ roadtrip.description }}</h3>
    </div>
    <div class="row">
      <div class="collaborators col-12">
        <ng-container *ngFor="let user of roadtrip.collaborators">
          <app-user-profile-image
            *ngIf="user.hasPhoto"
            class="roadtrip-collaborator"
            [path]="user.photo"
            [size]="'30px'"
            [tooltip]="user.username"
            (click)="onProfileImageClick(user)"
          ></app-user-profile-image>
          <fa-icon
            *ngIf="!user.hasPhoto"
            class="
              roadtrip-collaborator roadtrip-collaborator-picture-placeholder
            "
            [icon]="userIcon"
            [title]="user.username"
            (click)="onProfileImageClick(user)"
          ></fa-icon>
        </ng-container>
      </div>
    </div>
  </div>
</div>
