.roadtrip-summary-card {
  padding: 10px 25px;
}

.collaborators {
  display: flex;
  column-gap: 25px;
  overflow-x: scroll;
}

.collaborators::-webkit-scrollbar {
  display: none;
}

.roadtrip-collaborator {
  cursor: pointer;
}

.roadtrip-collaborator-picture-placeholder {
  font-size: 30px;
}

.head-content {
  display: flex;
  align-items: center;
}

.title {
  margin-bottom: 0;
}