<div class="editable-text" [ngStyle]="getWrapperStyles()">
  <div class="not-editing-content" *ngIf="!isEditing">
    <h4 class="text" [ngStyle]="getTextStyles()">{{ text }}</h4>
    <app-icon-button
      class="edit-button"
      [icon]="editBtnIcon"
      [ngStyle]="getEditBtnStyles()"
      (click)="onEditBtnClick()"
    ></app-icon-button>
  </div>
  <div class="is-editing-content" *ngIf="isEditing">
    <app-text-input
      #editField
      [name]="'edit-text-input-field'"
      [blurStyles]="inputBlurStyles"
      [focusStyles]="inputFocusStyles"
      [placeholder]="text"
    ></app-text-input>
    <app-toolbar class="edit-input-options" [gap]="10">
      <app-circular-icon-button
        class="editable-text-cancel-changes-btn"
        [icon]="cancelEditBtn"
        [size]="'35px'"
        [regularBackgroundColor]="'rgba(255,0,0,.5)'"
        [backgroundHighlightColor]="'rgba(255,0,0,.6)'"
        [highlightColor]="null"
        [regularBorderColor]="'#ebf2ff'"
        (click)="onCancelChanges()"
      ></app-circular-icon-button>
      <app-circular-icon-button
        class="editable-text-confirm-changes-btn"
        [icon]="confirmChangeBtn"
        [size]="'35px'"
        [regularBackgroundColor]="'rgba(0,255,0,.5)'"
        [backgroundHighlightColor]="'rgba(0,255,0,.6)'"
        [highlightColor]="null"
        [regularBorderColor]="'#ebf2ff'"
        (click)="onConfirmChanges()"
      ></app-circular-icon-button>
    </app-toolbar>
  </div>
</div>
