.comment-card-head-main {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.comment-card-text-wrapper {
  width: 70%;
  overflow: hidden;
}

.comment-card-text {
  margin-bottom: 0;
}

.comment-card-toolbar-wrapper {
  margin-left: auto;
}

.comment-card-show-all-button {
  margin-left: auto;
}

.comment-card-head-bottom {
  display: flex;
}

.comment-card-show-all-button {
  margin-bottom: 0;
  margin-left: auto;
  cursor: pointer;
  color: #98c6d4;
}

.comment-card-show-all-button:hover {
  color: #599eb3;
}

.comment-card-details-bar {
  display: flex;
  gap: 25px;
}

.comment-card-details-date,
.comment-card-details-time {
  display: flex;
  gap: 10px;
}

.comment-posted-date,
.comment-posted-time {
  margin-bottom: 0;
}

.comment-card-profile-image {
  cursor: pointer;
}

.comment-card-missing-profile-image-template {
  font-size: 35px;
}
