<div #card class="comment-card">
  <div class="comment-card-head" [ngStyle]="headStyles()">
    <div class="comment-card-head-main">
      <app-user-profile-image
        *ngIf="hasProfileImage()"
        class="comment-card-profile-image"
        [path]="getOwnerPhoto()"
        [size]="'35px'"
        [tooltip]="getOwnerName()"
        (click)="onProfileImageClick()"
      ></app-user-profile-image>
      <fa-icon
        *ngIf="!hasProfileImage()"
        class="
          comment-card-profile-image comment-card-missing-profile-image-template
        "
        [title]="noProfileImageOwnerName()"
        [icon]="noProfileImageIcon()"
        [ngStyle]="noProfileImageIconStyles()"
        (click)="onProfileImageClick()"
      ></fa-icon>
      <div class="comment-card-text-wrapper" [ngStyle]="textWrapperStyles()">
        <p class="comment-card-text" [ngStyle]="textStyles()">
          {{ comment.text }}
        </p>
      </div>
      <div class="comment-card-toolbar-wrapper">
        <app-expandable-toolbar2
          [expandDirection]="toolsExpandDirection"
          [gap]="'25px'"
        >
          <app-icon-button-v2
            #toggle
            [icon]="toggleButtonIcon()"
            [focusColor]="'#8c8b8b'"
          ></app-icon-button-v2>
          <app-icon-button-v2
            [icon]="reportIcon"
            [focusColor]="'#ffec45'"
          ></app-icon-button-v2>
          <app-icon-button-v2
            [icon]="detailsIcon"
            [focusColor]="'#aa4fe3'"
            (clicked)="onToggleDetailsButtonClick()"
          ></app-icon-button-v2>
        </app-expandable-toolbar2>
      </div>
    </div>
    <div class="comment-card-head-bottom">
      <p
        *ngIf="displayShowAllButton()"
        class="comment-card-show-all-button"
        (click)="onShowAllTextButtonClick()"
      >
        {{ toggleOverflowTextButtonText() }}
      </p>
    </div>
  </div>
  <div
    *ngIf="showingDetails"
    class="comment-card-details"
    [ngStyle]="detailsStyles()"
  >
    <div class="comment-card-details-date-time">
      <div class="comment-card-details-bar">
        <div class="comment-card-details-date">
          <fa-icon [icon]="dateIcon"></fa-icon>
          <p class="comment-posted-date">{{ postDate }}</p>
        </div>
        <div class="comment-card-details-time">
          <fa-icon [icon]="timeIcon"></fa-icon>
          <p class="comment-posted-time">{{ postTime }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
