<div #card class="comment-card">
  <div class="comment-card-head" [ngStyle]="headStyles()">
    <div class="comment-card-head-main">
      <app-user-profile-image
        *ngIf="hasProfileImage()"
        [path]="comment.owner.photo"
        [size]="'35px'"
      ></app-user-profile-image>
      <div class="comment-card-text-wrapper" [ngStyle]="textWrapperStyles()">
        <p class="comment-card-text" [ngStyle]="textStyles()">
          {{ comment.text }}
        </p>
      </div>
      <div class="comment-card-toolbar-wrapper">
        <app-expandable-toolbar2
          [expandDirection]="toolsExpandDirection"
          [gap]="'25px'"
        >
          <app-icon-button-v2
            #toggle
            [icon]="toggleButtonIcon()"
            [focusColor]="'#8c8b8b'"
          ></app-icon-button-v2>
          <app-icon-button-v2
            [icon]="reportIcon"
            [focusColor]="'#ffec45'"
          ></app-icon-button-v2>
          <app-icon-button-v2
            [icon]="detailsIcon"
            [focusColor]="'#aa4fe3'"
            (clicked)="onToggleDetailsButtonClick()"
          ></app-icon-button-v2>
        </app-expandable-toolbar2>
      </div>
    </div>
    <div class="comment-card-head-bottom">
      <p
        *ngIf="displayShowAllButton()"
        class="comment-card-show-all-button"
        (click)="onShowAllTextButtonClick()"
      >
        {{ toggleOverflowTextButtonText() }}
      </p>
    </div>
  </div>
  <div
    *ngIf="showingDetails"
    class="comment-card-details"
    [ngStyle]="detailsStyles()"
  >
    <div class="comment-card-details-date-time">
      <div class="comment-card-details-bar">
        <div class="comment-card-details-date">
          <fa-icon [icon]="dateIcon"></fa-icon>
          <p class="comment-posted-date">{{ getDate() }}</p>
        </div>
        <div class="comment-card-details-time">
          <fa-icon [icon]="timeIcon"></fa-icon>
          <p class="comment-posted-time">{{ getTime() }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
