.browse-roadtrip-section {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.roadtrip-card-btn {
    font-size: 17px;
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.matching-user {
    cursor: pointer;
    padding: 10px;
}