<div class="content">
    <div class="section row">
        <h1>Explore Roadtrips</h1>
    <div class="browse-roadtrip-section row">
        <app-roadtrip-summary-card #roadtripCard class="roadtrip-card" *ngFor="let roadtrip of roadtrips" [roadtrip]="roadtrip">
            <app-expandable-toolbar2 tools [gap]="'25px'">
                <app-icon-button-v2 class="roadtrip-card-btn" [icon]="infoIcon" (click)="onRoadtripCardInfoBtnClick(roadtripCard)"></app-icon-button-v2>
                <app-icon-button-v2 class="roadtrip-card-btn" [icon]="roadtripIcon" (click)="onRoadtripCardRouteBtnClick(roadtripCard)"></app-icon-button-v2>
            </app-expandable-toolbar2>
        </app-roadtrip-summary-card>
    </div>
    </div>
    <div class="section row">
        <h1>Find Users</h1>
        <div class="browse-users-section row">
            <app-user-search (userCardClicked)=onUserCardClick($event)></app-user-search>
        </div>
    </div>
</div>