<app-expandable-toolbar [gap]="35" [isExpanded]="false">
  <app-circular-icon-button
    [icon]="otherIcons[4]"
    [iconSize]="'20px'"
    [bgHoverColor]="'rgba(0,0,255,.2)'"
    [padding]="20"
    (buttonClick)="routeToExperimentPage()"
  ></app-circular-icon-button>

  <app-circular-icon-button
    *ngIf="isUserSignedIn()"
    [icon]="otherIcons[0]"
    [iconSize]="'20px'"
    [bgHoverColor]="'rgba(0,0,255,.2)'"
    [padding]="20"
    (buttonClick)="routeToUserPage()"
  ></app-circular-icon-button>

  <app-circular-icon-button
    [icon]="otherIcons[1]"
    [iconSize]="'20px'"
    [bgHoverColor]="'rgba(0,0,255,.2)'"
    [padding]="20"
    (buttonClick)="routeToBrowseRoadtripsPage()"
  ></app-circular-icon-button>

  <app-circular-icon-button
    *ngIf="!isUserSignedIn()"
    [icon]="otherIcons[2]"
    [iconSize]="'20px'"
    [bgHoverColor]="'rgba(0,0,255,.2)'"
    [padding]="20"
    (buttonClick)="onSignInBtnClick()"
  ></app-circular-icon-button>

  <app-circular-icon-button
    *ngIf="isUserSignedIn()"
    [icon]="otherIcons[3]"
    [iconSize]="'20px'"
    [bgHoverColor]="'rgba(0,0,255,.2)'"
    [padding]="20"
    (buttonClick)="onSignOutBtnClick()"
  ></app-circular-icon-button>

  <app-circular-icon-button
    #toggle
    [icon]="toggleIcon"
    [iconSize]="'20px'"
    [bgHoverColor]="'rgba(0,0,255,.2)'"
    [padding]="20"
  ></app-circular-icon-button>
</app-expandable-toolbar>
