<div class="comment-head" [ngStyle]="getWrapperStyles()">
  <h4 class="inline-text comment-text">{{ comment.text }}</h4>
  <app-toolbar class="comment-options" [gap]="35">
    <app-icon-button
      [icon]="replyIcon"
      [enabledMessage]="'Reply to this comment'"
      (buttonClick)="onReplyClick()"
    ></app-icon-button>
    <app-icon-button
      *ngIf="isUserLoggedIn()"
      [icon]="reportIcon"
      [iconRegularColor]="reportBtnColor"
      [iconHoverColor]="reportBtnHoverColor"
      [enabledMessage]="getReportBtnHoverMsg()"
      (buttonClick)="onReportBtnClick()"
    ></app-icon-button>
    <app-icon-button
      [icon]="detailsIcon"
      [enabledMessage]="getDetailsBtnHoverMsg()"
      (buttonClick)="onDetailsClick()"
    ></app-icon-button>
    <app-icon-button
      *ngIf="isOwner()"
      [icon]="deleteIcon"
      [iconRegularColor]="deleteBtnColor"
      [iconHoverColor]="deleteBtnHoverColor"
      [enabledMessage]="'Delete this comment'"
      (buttonClick)="onDeleteCommentBtnClick()"
    ></app-icon-button>
  </app-toolbar>
</div>

<app-confirmation-popup
  *ngIf="showingDeleteConfirmationPopup"
  [message]="'Are you sure you want to delete this comment?'"
  (cancelEvent)="onCancelDelete()"
  (confirmEvent)="onConfirmDelete()"
></app-confirmation-popup>
