/* You can add global styles to this file, and also import other style files */

html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: scroll;
}

body {
  background-color: #101010 !important;
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

app-root {
  height: 100%;
  width: 100%;
}

.button:hover {
  cursor: pointer;
}

.disabled-button:hover {
  cursor: auto !important;
}

.toolbar {
  display: inline-flex;
  align-items: center;
}

.button {
  display: inline-block;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.editable-text {
  margin: auto;
}

app-toolbar,
app-image-gallery,
.inline-text,
app-login-form {
  display: inline-block;
}

app-login-form {
  position: absolute;
  right: 25px;
  top: 8%;
}

app-editable-text {
  display: block;
}

.image {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.comment {
  margin-bottom: 10px;
}

.no-mb {
  margin-bottom: 0;
}

.form-input-error {
  border: 2px solid #f00;
}
