/* You can add global styles to this file, and also import other style files */

html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: scroll;
}

body {
  background-color: #101010 !important;
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

app-root {
  height: 100%;
  width: 100%;
}

.button:hover {
  cursor: pointer;
}

.toolbar {
  display: inline-flex;
  align-items: center;
}

.button {
  display: inline-block;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.editable-text {
  margin: auto;
}

app-toolbar {
  display: inline-block;
}

app-editable-text {
  display: block;
}
